body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color:rgba(189, 18, 18, 0.658) ;
  
}
#video{
  position: fixed;
  z-index: -1;
  width: 1000px;
  height: 1000px;
  margin-top: -310px;
  margin-bottom: 400px;
  margin-left: -400px;
}

h1{
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 1rem;


}

.title{
  color: white;
  margin-bottom: 20PX;
}

.text1
{
  width: 220px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20PX;
  float:center;
  text-align:center;
  text-align-last:unset;
  color: white;
  /*border-radius: 10px;*/
  font-family: Garamond;
}

.text2
{
  width: 220px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20PX;
  text-decoration: dashed;
  float: center;
  text-align:100px;
  text-align-last: 300px;
  color: white;
  /*border-radius: 10px;*/
  font-family: Garamond;
}
.curs
{
  cursor: pointer;
}
select
{
  margin-left: .5rem;

}

.icon{
  margin-top: 35px;
  margin-bottom: -16px;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

.frame
{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  background-color:rgb(62, 13, 13) ;
  height: 440px;
  width: 299px;
  padding: 10px;
  border-radius: 10px;
  /*background-image: url(./Premium\ Photo\ _\ Stock\ market\ or\ forex\ trading\ graph\ in\ graphic\ concept.jpg);*/
}
.border
{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  background-color:rgb(51, 3, 3) ;
  height: 400px;
  width: 320px;
  padding: 10px;
  border-radius: 10px;
}
.input
{
  height: 20px;
  width: 80px;
}
.hover
{
  
  color: white;
}
.drop
{
  size: 40px;
}