body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color:rgba(22, 22, 110, 0.856) ;
  
}

h1{
  margin: 0;
  margin-bottom: .5rem;


}

.title{
  color: white;
  margin-bottom: 20PX;

}
.text
{
  width: 220px;
  margin-top: 29px;
  margin-bottom: 20px;
  font-size: 20PX;
  float:left;
  color: white;
  background-color:rgba(22, 22, 110, 0.856) ;
}
select
{
  margin-left: .5rem;

}

.equals{
  margin-top: 22px;
  font-weight: bold;
  font-size: 2rem;
  color: white;
  
}
.frame
{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  background-color:white ;
  height: 440px;
  width: 299px;
  padding: 10px;
  border-radius: 10px;
  background-image: url(./Premium\ Photo\ _\ Stock\ market\ or\ forex\ trading\ graph\ in\ graphic\ concept.jpg);
  
}
.border
{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  background-color:rgba(22, 22, 110, 0.856) ;
  height: 400px;
  width: 320px;
  padding: 10px;
  border-radius: 10px;
}
.input
{
  height: 20px;
}