body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-image: url(./Premium\ Photo\ _\ Stock\ market\ or\ forex\ trading\ graph\ in\ graphic\ concept.jpg);
}

h1{
  margin: 0;
  margin-bottom: .5rem;


}

.input{
  margin-top: 20px;
  border: 1px solid #333;
  border-radius: .3em;
  padding: .25rem;
  width: 11em;
  height: 29px;
}

select
{
  margin-left: .5rem;

}

.equals{
  margin-top: 20px;
  font-weight: bold;
  font-size: 2rem;
  
}
.frame
{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  background-color:white ;
  height: 440px;
  width: 299px;
  padding: 10px;
  border-radius: 10px;
}
.border
{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  background-color:rgba(22, 22, 110, 0.856) ;
  height: 400px;
  width: 320px;
  padding: 10px;
  border-radius: 10px;
}